POSTGRES_HOST=localhost
POSTGRES_DB=auth
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_SSLMODE=disable
MIGRATION_DIR=./migrations

PG_DSN="host=localhost port=54321 dbname=note user=note-user password=note-password sslmode=disable"

GRPC_HOST=localhost
GRPC_PORT=50051